<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <h1>player1</h1>
 <h1>player2</h1>
 <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, magni! Deserunt sit natus, minima veniam similique asperiores neque nostrum voluptates rerum omnis tempore vel dignissimos. Ipsam nobis recusandae ut veniam?</p>
</body>
</html>